<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.account.crud.mapper.AccountOrganizationMapper">

    <resultMap type="org.dows.account.crud.entity.AccountOrganization" id="AccountOrganizationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
        <result property="orgPid" column="org_pid" jdbcType="INTEGER"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
        <result property="nameLetter" column="name_letter" jdbcType="VARCHAR"/>
        <result property="orgType" column="org_type" jdbcType="INTEGER"/>
        <result property="orgIcon" column="org_icon" jdbcType="VARCHAR"/>
        <result property="sorted" column="sorted" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="companyId" column="company_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="ver" column="ver" jdbcType="INTEGER"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

</mapper>
