<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.account.crud.mapper.AccountRelationshipMapper">

    <resultMap type="org.dows.account.crud.entity.AccountRelationship" id="AccountRelationshipMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="org" column="org" jdbcType="INTEGER"/>
        <result property="deep" column="deep" jdbcType="INTEGER"/>
        <result property="seq" column="seq" jdbcType="INTEGER"/>
        <result property="pseq" column="pseq" jdbcType="VARCHAR"/>
        <result property="vector" column="vector" jdbcType="VARCHAR"/>
        <result property="fromAccountId" column="from_account_id" jdbcType="INTEGER"/>
        <result property="fromAccountName" column="from_account_name" jdbcType="VARCHAR"/>
        <result property="fromAccountPhone" column="from_account_phone" jdbcType="VARCHAR"/>
        <result property="formUserId" column="form_user_id" jdbcType="VARCHAR"/>
        <result property="toAccountId" column="to_account_id" jdbcType="VARCHAR"/>
        <result property="toAccountName" column="to_account_name" jdbcType="VARCHAR"/>
        <result property="toAccountPhone" column="to_account_phone" jdbcType="VARCHAR"/>
        <result property="toUserId" column="to_user_id" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="ver" column="ver" jdbcType="INTEGER"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

</mapper>
