<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.rbac.crud.mapper.RabcDataMapper">

    <resultMap type="org.dows.rbac.crud.entity.RabcData" id="RabcDataMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="resourceId" column="resource_id" jdbcType="VARCHAR"/>
        <result property="resourcePid" column="resource_pid" jdbcType="INTEGER"/>
        <result property="resouceName" column="resouce_name" jdbcType="VARCHAR"/>
        <result property="resourceCode" column="resource_code" jdbcType="VARCHAR"/>
        <result property="resourceDescr" column="resource_descr" jdbcType="VARCHAR"/>
        <result property="resourceTyp" column="resource_typ" jdbcType="INTEGER"/>
        <result property="properties" column="properties" jdbcType="VARCHAR"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
