<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.rbac.crud.mapper.RbacPrivilegeMapper">

    <resultMap type="org.dows.rbac.crud.entity.RbacPrivilege" id="RbacPrivilegeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="privilegeId" column="privilege_id" jdbcType="VARCHAR"/>
        <result property="privilegeName" column="privilege_name" jdbcType="VARCHAR"/>
        <result property="privilegeCode" column="privilege_code" jdbcType="VARCHAR"/>
        <result property="privilegeTyp" column="privilege_typ" jdbcType="INTEGER"/>
        <result property="privilegeIcon" column="privilege_icon" jdbcType="VARCHAR"/>
        <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
        <result property="resourcePid" column="resource_pid" jdbcType="INTEGER"/>
        <result property="resourceName" column="resource_name" jdbcType="VARCHAR"/>
        <result property="resourceDescr" column="resource_descr" jdbcType="VARCHAR"/>
        <result property="resourceTyp" column="resource_typ" jdbcType="INTEGER"/>
        <result property="sorted" column="sorted" jdbcType="INTEGER"/>
        <result property="cache" column="cache" jdbcType="VARCHAR"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="ver" column="ver" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="dt" column="dt" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
